.archive {

	ol {
		li.char {
			margin-bottom: 15px;
			font-size: 24px;
			font-weight: 700;
		}

		& + ol {
			margin-top: 2rem;
		}
	}

	.archive__years li {
		font-size: 24px;
		font-weight: 700;

		& + li {
			margin-top: 1.5rem;
		}
	}
}
