.entry {
	position: relative;
	width: 500px;
	height: 500px;

	&.entry__main--end {
		margin-inline-end: auto;
	}

	&.entry__main--start {
		margin-inline-start: auto;
	}

	.entry__content {
		top: -1rem;
		padding: 16px;
		background-color: var(--white-color);
		overflow: hidden;
		z-index: 1;
	}

	.entry__img {
		width: 100%;
		background-color: var(--dark-color);
		overflow: hidden;

		&:hover {
			z-index: 2;
		}

		img {
			display: block;
			width: 100%;
			height: 100%;
			background-color: var(--dark-color);
			object-fit: contain;
			object-position: center;
		}
	}
}

.subentry {
	margin-bottom: 20px;
	text-align: center;

	.entry__img {
		height: 170px;
		width: 170px;
		margin: 0 auto;
		border: 1px dashed var(--gray-border);
		background-color: var(--dark-color);

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center;
			background-color: var(--dark-color);
		}
	}

	.entry__tags {
		font-size: var(--text-size);
	}

	.title,
	.subtitle {
		font-size: var(--small-title-size);
		font-weight: 700;
	}
}
