.entries {

	.entries__list {
		display: flex;
		flex-direction: column;
	}

	.entries__list li + li {
		margin-top: 50px;
	}

	.entries__list li:first-child .entry__content {
		top: 1rem;
	}

	.entry__content .entry__header {
		font-size: var(--small-text-size);
		font-weight: 700;
	}

	.entry__content {

		.entry__header .dtend::before,
		.entry__title .subtitle::before {
			content: '-';
			margin-inline-start: 5px;
			margin-inline-end: 5px;
		}

		.entry__tags {
			background-color: var(--white-color);
			overflow: hidden;
			text-overflow: ellipsis;
		    white-space: nowrap;

			&:hover {
				position: absolute;
			}
		}

		.entry__title {
			display: block;
			margin-top: 20px;
			margin-bottom: 30px;
			font-size: var(--title-size);
		}

		.entry__info {
			margin: 0;
			font-size: var(--small-text-size);
		}
	}
}

[dir='rtl'] .entries {
	.entry__content {

		.entry__header {
			font-size: 18px;
		}

		.entry__info {
			font-size: var(--small-title-size);
		}
	}

	.subentry .entry__tags {
		font-size: 22px;
	}
}
