.header {
	margin-top: 20px;
	margin-bottom: 50px;
	font-size: var(--small-text-size);
	font-weight: 700;

	.header__inner {
		display: grid;
		grid-template-columns: 0.5fr 4fr 1fr 1fr;
	}

	.header__logo {

		.logo {
			position: relative;
			display: block;
			height: 70px;
			width: 142px;

			img {
				width: 100%;
			}

			&:hover .logo__brand {
				display: none;
			}
		}

		.logo__brand {
			position: absolute;
		}
	}

	.header__nav {
		height: 100%;

		.list {
			display: flex;
			justify-content: space-around;
			line-height: 70px;

			li a {
				display: block;
			}
		}
	}

	.header__search-form {
		margin-top: 18px;
	}

	.header__social {
		position: relative;
		width: 138px;
		margin-inline-start: auto;

		> a {
			display: block;
			height: 34px;
			background-color: var(--white-color);
			margin-top: 18px;
			border: 2px solid var(--dark-color);
			padding-inline-start: 10px;
			line-height: 32px;
		}

		ul {
			position: absolute;
			top: 49px;
			right: 0;
			width: 100%;
			display: none;
			border: 2px solid var(--dark-color);
			padding: .375rem 0;
			border-top: 0;
			background-color: var(--white-color);
			z-index: 3;

			a {
				display: block;
				padding: .2rem .75rem;
			}
		}

		&:hover ul {
			display: block;
		}
	}
}

[dir='rtl'] .header {
	font-size: var(--title-size);
	/* font-size: 22px; */
}


.no-cssgrid .header .header__inner {
	display: flex;

	.header__nav {
		width: 55%;
	}
}
