main.about
	.container
		.row.row--3-2-1
			.col.col--1
				.about__team
					h4 current team
					- for ( let i = 0; i < 10; i++ ) {
						.member
							p andrea thal
							p artistic director
							p: a.link( href='mailto:a.thal@ciccairo.org' ) a.thal@ciccairo.org
					- }
			.col.col--3
				.about__disc
					p The Contemporary Image Collective (CIC) is an independent non-profit art initiative founded in Cairo in 2004. CIC’s mission spans contemporary art and educational programming that responds to and develops artistic practice, engagement, and discourse.
			.col.col--2
				.about__info
					p The Contemporary Image Collective (CIC) is an independent non-profit art initiative founded in Cairo in 2004. CIC’s mission spans contemporary art and educational programming that responds to and develops artistic practice, engagement, and discourse.
					p The Contemporary Image Collective (CIC) is an independent non-profit art initiative founded in Cairo in 2004. CIC’s mission spans contemporary art and educational programming that responds to and develops artistic practice, engagement, and discourse.The Contemporary Image Collective (CIC) is an independent non-profit art initiative founded in Cairo in 2004. CIC’s mission spans contemporary art and educational programming that responds to and develops artistic practice, engagement, and discourse.
					p The Contemporary Image Collective (CIC) is an independent non-profit art initiative founded in Cairo in 2004. CIC’s mission spans contemporary art and educational programming that responds to and develops artistic practice, engagement, and discourse.
					p The Contemporary Image Collective (CIC) is an independent non-profit art initiative founded in Cairo in 2004. CIC’s mission spans contemporary art and educational programming that responds to and develops artistic practice, engagement, and discourse.The Contemporary Image Collective (CIC) is an independent non-profit art initiative founded in Cairo in 2004. CIC’s mission spans contemporary art and educational programming that responds to and develops artistic practice, engagement, and discourse.The Contemporary Image Collective (CIC) is an independent non-profit art initiative founded in Cairo in 2004. CIC’s mission spans contemporary art and educational programming that responds to and develops artistic practice, engagement, and discourse.
					p The Contemporary Image Collective (CIC) is an independent non-profit art initiative founded in Cairo in 2004. CIC’s mission spans contemporary art and educational programming that responds to and develops artistic practice, engagement, and discourse.
				.board
					h4 current board
					p maha maamoun
					p rana elNemr
					p amr arif
					p mohamed a.gawad
