block config
doctype
html.no-js( dir= en ? 'ltr' : 'rtl', lang=en ? 'en' : 'ar' )
	include _head
	body( style={ 'font-family': !en ? 'Lateef,cursive' : 'FoundersGrotesk,Oxygen,Arial,Helvetica,sans-serif' })
		//[if lt IE 10]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" upgrade your browser to improve your experience.</p>
		if en
			include _header
		else
			include ar/_header
		block content
		if en
			include _footer
		else
			include ar/_footer
		include _scripts
