footer.footer
	.container
		ul.list.list--inline.list--pipe-separator.align-center.txt--capitalize
			li: a.link( href='/' ) contemporary image collective
			li: a.link( href='javascript:' ) we are open from <strong>10am</strong> to <strong>6am</strong>
			li: a.link( href='javascript:' ) colophon
			li: a.link( href='/policy' ) privacy policy
			li: a.link( href='/contact' ) contact
