main.entries
	.container
		.h2.visually-hidden Entries
		ol.list.entries__list
			li: .row.row--3-2
				.col.col--3
					.entry.entry__main--start
						.entry__img
							a( href='/entry' )
								img( src='https://via.placeholder.com/500x500' alt='Submerged; on rivers and their interrupted flow' )
						article.entry__content
							header.entry__header.txt--upper
								.row.row--2
									.col
										p.entry__period
											time( datetime='2020-12-31T05:00-07:00' title='9 Oct 2018 - 15 Dec 2018' ) current
										p.entry__tags.tags--comma-seperator
											span.tag exhibition
											span.tag screenings
											span.tag talks
											span.tag workshop
									.col.align-center
										p: time.dtstart( datetime='2018-10-09' property='published' title='9 October 2018' ) 9 october
										p: time.dtend( datetime='2018-12-15' title='15 December 2018' ) 15 december
							a.link.entry__title.txt--capitalize( href='/entry' )
								h3
									span.title submerged
									span.subtitle on rivers and their interrupted flow
							blockquote.entry__info
								p We’re happy to invite you to <em>Submerged – on rivers and their interrupted flow</em>, the first programme in our new space in Talaat Harb street. <em>Submerged</em> extends over more than two months and consists of an exhibition, screenings, discussions and a workshop.
				.col.col--2.txt--capitalize
						.row.row--2
							- for ( let i = 0; i < 3; i++ ) {
								.col
									.subentry
										p.entry__tags.tags--comma-seperator exhibition
										.entry__img
											a( href='/ebtry' )
												img.img--fit( src='https://via.placeholder.com/170x170/949494/ffffff' alt='title - subtitle' )
										a.link( href='entry')
											p.title submerged
											p.subtitle on rivers and their interrupted flow
							- }
			li: .row.row--3-2
				.col.col--2.txt--capitalize
						.row
							- for ( let i = 0; i < 2; i++ ) {
								.col
									.subentry
										p.entry__tags.tags--comma-seperator exhibition
										.entry__img
											a( href='/ebtry' )
												img.img--fit( src='https://via.placeholder.com/170x170/949494/ffffff' alt='title - subtitle' )
										a.link( href='entry')
											p.title submerged
											p.subtitle on rivers and their interrupted flow
							- }
				.col.col--3
					.entry.entry__main--end
						.entry__img
							a( href='/entry' )
								img.img--circle( src='https://via.placeholder.com/500x500' alt='Submerged - on rivers and their interrupted flow' )
						article.entry__content
							header.entry__header.txt--upper
								.row.row--2
									.col
										p.entry__period
											time( datetime='2020-12-31T05:00-07:00' title='9 Oct 2018 - 15 Dec 2018' ) current
										p.entry__tags.tags--comma-seperator
											span.tag exhibition
											span.tag screenings
											span.tag talks
											span.tag workshop
									.col.align-center
										p: time.dtstart( datetime='2018-10-09' property='published' title='9 October 2018' ) 9 october
										p: time.dtend( datetime='2018-12-15' title='15 December 2018' ) 15 december
							a.link.entry__title.txt--capitalize( href='/entry' )
								h3
									span.title submerged
									span.subtitle on rivers and their interrupted flow
							blockquote.entry__info
								p We’re happy to invite you to <em>Submerged – on rivers and their interrupted flow</em>, the first programme in our new space in Talaat Harb street. <em>Submerged</em> extends over more than two months and consists of an exhibition, screenings, discussions and a workshop.
			li: .row.row--3-2
				.col.col--3
					.entry.entry__main--start
						.entry__img
							a( href='/entry' )
								img( src='https://via.placeholder.com/500x500' alt='Submerged - on rivers and their interrupted flow' )
						article.entry__content
							header.entry__header.txt--upper
								.row.row--2
									.col
										p.entry__period
											time( datetime='2020-12-31T05:00-07:00' title='9 Oct 2018 - 15 Dec 2018' ) current
										p.entry__tags.tags--comma-seperator
											span.tag exhibition
											span.tag screenings
											span.tag talks
											span.tag workshop
									.col.align-center
										p: time.dtstart( datetime='2018-10-09' property='published' title='9 October 2018' ) 9 october
										p: time.dtend( datetime='2018-12-15' title='15 December 2018' ) 15 december
							a.link.entry__title.txt--capitalize( href='/entry' )
								h3
									span.title submerged
									span.subtitle on rivers and their interrupted flow
							blockquote.entry__info
								p We’re happy to invite you to <em>Submerged – on rivers and their interrupted flow</em>, the first programme in our new space in Talaat Harb street. <em>Submerged</em> extends over more than two months and consists of an exhibition, screenings, discussions and a workshop.
				.col.col--2.txt--capitalize
						.row.row--2
							.col &nbsp;
							- for ( let i = 0; i < 2; i++ ) {
								.col
									.subentry
										p.entry__tags.tags--comma-seperator exhibition
										.entry__img
											a( href='/ebtry' )
												img.img--fit( src='https://via.placeholder.com/170x170/949494/ffffff' alt='title - subtitle' )
										a.link( href='entry')
											p.title submerged
											p.subtitle on rivers and their interrupted flow
							- }
