main.entries
	.container
		.h2.visually-hidden التدوينات
		ol.list.entries__list
			li: .entry.row.row--3-2
				.col.col--3
					.entry__main.entry__main--start
						.entry__img
							a( href='javascript:' )
								img.img( src='/images/content/entry_1.jpg' alt='مجالًا للمناورة - ورشة عمل حول السياقات البديلة لمشاهدة الأفلام واقتصاديات مرئيتهم' )
						article.entry__content
							header.entry__header.txt--upper
								.row.row--2
									.col
										p.entry__period
											time( datetime='2020-12-31T05:00-07:00' title='9 Oct 2018 - 15 Dec 2018' ) سابق
										p.entry__tags.tags--comma-seperator
											span.tag ورشة عمل
									.col.align-center
										p: time.dtstart( datetime='2018-06-22' property='published' title='22 June 2018' ) ٢٢ يونيو ٢٠١٨
										p: time.dtend( datetime='2018-06-23' title='23 June 2018' ) ٢٣ يونيو ٢٠١٨
							a.link.entry__title.txt--capitalize( href='/entries/1' )
								h3
									span.title مجالًا للمناورة
									span.subtitle ورشة عمل حول السياقات البديلة لمشاهدة الأفلام واقتصاديات مرئيتهم
							blockquote.entry__info
								p تهتم ورشة مجالًا للمناورة بالسياقات البديلة لمشاهدة الأفلام وأعمال الصورة المتحركة بشكل عام في مصر والمنطقة العربية.تشمل تلك السياقات برامج الأفلام في المراكز الثقافية والإجتماعية ونوادي السينما ومعارض الفنون البصرية وغيرها.
				.col.col--2
					.enty__sub.txt--capitalize
						.row.row--2
							.col
								.subentry
									p.entry__tags.tags--comma-seperator معرض
									.entry__img
										a( href='javascript:' )
											img.img.img--fit( src='/images/content/sub_1.jpg' alt='title - subtitle' )
									a.link( href='entries/1')
										p.title مُغمَر
										p.subtitle عن الأنهار وتدفقها المنقطع
							.col
								.subentry
									p.entry__tags.tags--comma-seperator معرض
									.entry__img
										a( href='javascript:' )
											img.img.img--fit( src='/images/content/sub_2.jpg' alt='title - subtitle' )
									a.link( href='entries/1')
										p.title مُغمَر
										p.subtitle عن الأنهار وتدفقها المنقطع
							.col
								.subentry
									p.entry__tags.tags--comma-seperator معرض
									.entry__img
										a( href='javascript:' )
											img.img.img--fit( src='/images/content/sub_1.jpg' alt='title - subtitle' )
									a.link( href='entries/1')
										p.title مُغمَر
										p.subtitle عن الأنهار وتدفقها المنقطع
			li: .entry.row.row--3-2
				.col.col--2
					.enty__sub.txt--capitalize
						.row
							.col
								.subentry
									p.entry__tags.tags--comma-seperator معرض
									.entry__img
										a( href='javascript:' )
											img.img.img--fit( src='/images/content/sub_1.jpg' alt='title - subtitle' )
									a.link( href='entries/1')
										p.title مُغمَر
										p.subtitle عن الأنهار وتدفقها المنقطع
							.col
								.subentry
									p.entry__tags.tags--comma-seperator معرض
									.entry__img
										a( href='javascript:' )
											img.img.img--fit( src='/images/content/sub_2.jpg' alt='title - subtitle' )
									a.link( href='entries/1')
										p.title مُغمَر
										p.subtitle عن الأنهار وتدفقها المنقطع
				.col.col--3
					.entry__main.entry__main--end
						.entry__img
							a( href='javascript:' )
								img.img.img--circle( src='/images/content/entry_2.jpg' alt='مُغمَر - عن الأنهار وتدفقها المنقطع' )
						article.entry__content
							header.entry__header.txt--upper
								.row.row--2
									.col
										p.entry__period
											time( datetime='2020-12-31T05:00-07:00' title='9 Oct 2018 - 15 Dec 2018' ) جاري الان
										p.entry__tags.tags--comma-seperator
											span.tag معرض
											span.tag عروض أفلام
											span.tag ولقاءات
											span.tag ورشة عمل
									.col.align-center
										p: time.dtstart( datetime='2018-10-09' property='published' title='9 October 2018' ) ٩ أكتوبر
										p: time.dtend( datetime='2018-12-15' title='15 December 2018' ) ١٥ ديسمبر ٢٠١٨
							a.link.entry__title.txt--capitalize( href='/entries/1' )
								h3
									span.title مُغمَر
									span.subtitle عن الأنهار وتدفقها المنقطع
							blockquote.entry__info
								p يسعدنا دعوتكم/ن لـ <em>مُغمَر – عن الأنهار وتدفقها المنقطع</em>، برنامجنا الأول في مكاننا الجديد في شارع طلعت حرب. يمتد مُغمَر على مدار أكثر من شهرين ويضم معرض وعروض أفلام وورشة عمل ونقاشات.
			li: .entry.row.row--3-2
				.col.col--3
					.entry__main.entry__main--start
						.entry__img
							a( href='javascript:' )
								img.img( src='/images/content/entry_2.jpg' alt='مُغمَر - عن الأنهار وتدفقها المنقطع' )
						article.entry__content
							header.entry__header.txt--upper
								.row.row--2
									.col
										p.entry__period
											time( datetime='2020-12-31T05:00-07:00' title='9 Oct 2018 - 15 Dec 2018' ) جاري الان
										p.entry__tags.tags--comma-seperator
											span.tag معرض
											span.tag عروض أفلام
											span.tag ولقاءات
											span.tag ورشة عمل
									.col.align-center
										p: time.dtstart( datetime='2018-10-09' property='published' title='9 October 2018' ) ٩ أكتوبر
										p: time.dtend( datetime='2018-12-15' title='15 December 2018' ) ١٥ ديسمبر ٢٠١٨
							a.link.entry__title.txt--capitalize( href='/entries/1' )
								h3
									span.title مُغمَر
									span.subtitle عن الأنهار وتدفقها المنقطع
							blockquote.entry__info
								p يسعدنا دعوتكم/ن لـ <em>مُغمَر – عن الأنهار وتدفقها المنقطع</em>، برنامجنا الأول في مكاننا الجديد في شارع طلعت حرب. يمتد مُغمَر على مدار أكثر من شهرين ويضم معرض وعروض أفلام وورشة عمل ونقاشات.
				.col.col--2
					.enty__sub.txt--capitalize
						.row.row--2
							.col &nbsp;
							.col
								.subentry
									p.entry__tags.tags--comma-seperator معرض
									.entry__img
										a( href='javascript:' )
											img.img.img--fit( src='/images/content/sub_2.jpg' alt='title - subtitle' )
									a.link( href='entries/1')
										p.title مُغمَر
										p.subtitle عن الأنهار وتدفقها المنقطع
							.col
								.subentry
									p.entry__tags.tags--comma-seperator معرض
									.entry__img
										a( href='javascript:' )
											img.img.img--fit( src='/images/content/sub_1.jpg' alt='title - subtitle' )
									a.link( href='entries/1')
										p.title مُغمَر
										p.subtitle عن الأنهار وتدفقها المنقطع
