/*
	main css file => master.css
*/

/* Settings – used with preprocessors and contain font, colors definitions, etc. */
@import "settings/colors.css";
@import "settings/grid.css";
@import "settings/fonts.css";

/* Tools – globally used mixins and functions. It’s important not to output any CSS in the first 2 layers. */
/* Functions */

/* Mixins */

/* Generic – reset and/or normalize styles, box-sizing definition, etc. This is the first layer which generates actual CSS. */
@import 'generic/box-model.css';
@import "generic/typography.css";

/* Elements – styling for bare HTML elements (like H1, A, etc.). These come with default styling from the browser so we can redefine them here. */
@import "elements/body.css";
@import "elements/headings.css";
@import "elements/paragraphs.css";
@import "elements/links.css";
@import "elements/forms.css";

/* Objects – class-based selectors which define undecorated design patterns, for example media object known from OOCSS */
@import "objects/grid.css";

/* Components – specific UI components. This is where majority of our work takes place and our UI components are often composed of Objects and Components */
@import "components/header.css";
@import "components/entries.css";
@import "components/footer.css";

/* Utilities – utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class */
@import 'utilities/floats.css';
@import "utilities/clearfix.css";
@import 'utilities/lists.css';
@import "utilities/tags.css";
@import 'utilities/relative-height.css';
@import 'utilities/full-background.css';
@import 'utilities/text-align.css';
@import 'utilities/screen-reader.css';
@import 'utilities/text-transform.css';
