.container {
	max-width: var(--grid-container);
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--gutter);
	padding-right: var(--gutter);
}

.row {
	margin-left: - var(--gutter);
	margin-right: - var(--gutter);
}

.row > .col {
	width: 100%;
	float: left;
	padding-left: var(--gutter);
	padding-right: var(--gutter);
}

.row--2 > .col {
	width: 50%;
}

.row--3 > .col {
	width: 33.33%;
}

.row--3 > .col--2 {
	width: 66.66%;
}

.row--4 > .col {
	width: 25%;
}
