.list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list li {
	display: block;
}

.list--inline li {
	display: inline-block;
}

.list--pipe-seperator li + li::before {
	content: '|';
	-webkit-margin-start: 3px;
    margin-inline-start: 3px;
	-webkit-margin-end: 3px;
    margin-inline-end: 3px;
}
