.container {
	max-width: var(--grid-container);
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--gutter);
	padding-right: var(--gutter);
}

.row {
	margin-left: calc( -1 * var(--gutter) );
	margin-right: calc( -1 * var(--gutter) );
	display: flex;
	flex-wrap: wrap;
}

.row > .col {
	width: 100%;
	float: inline-start;
	padding-left: var(--gutter);
	padding-right: var(--gutter);
}

/*
@media screen and (min-width:720px) => Phablet

@media screen and (min-width:768px) => Tablet

@media screen and (min-width:1024px) => Desktop

Thank you for any advice or recomendations !
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.header .header__inner {
		grid-template-columns: 1fr;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

.row--2 > .col {
	width: 50%;
}

.row--3 > .col {
	width: 33.33%;
}

.row--3 > .col--2 {
	width: 66.66%;
}

.row--4 > .col {
	width: 25%;
}

.row--4 > .col--2 {
	width: 50%;
}

.row--3-2-1 > .col--1 {
	width: 25%;
}

.row--3-2-1 > .col--2 {
	width: 30%;
}

.row--3-2-1 > .col--3 {
	width: 45%;
}

@media only screen and (max-width: 767px) {
	.row--3-2 > .col--2,
	.row--3-2 > .col--3 {
		width: 100%;
	}

	.row--6 > .col {
		width: 33.33%;
	}

	.row--6 > .col--2-sm {
		width: 100%;
	}

	.order--first {
		order: -1;
	}

	.order--last {
		order: 1;
	}
}

@media only screen and (min-width: 768px) {
	.row--3-2 > .col--2,
	.row--3-2 > .col--3 {
		width: 100%;
	}

	.row--6 > .col {
		width: 33.33%;
	}
}

@media only screen and (min-width: 992px) {
	.row--3-2 > .col--2 {
		width: 40%;
	}

	.row--3-2 > .col--3 {
		width: 60%;
	}

	.row--6 > .col {
		width: 16.66%;
	}
}


/* @media only screen and (min-width: 768px) { */
@media only screen and (min-width: 1140px) {}
