.container {
	max-width: var(--grid-container);
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--gutter);
	padding-right: var(--gutter);
}

.row {
	margin-left: calc( -1 * var(--gutter) );
	margin-right: calc( -1 * var(--gutter) );
	display: flex;
	flex-wrap: wrap;
}

.row > .col {
	width: 100%;
	float: left;
	padding-left: var(--gutter);
	padding-right: var(--gutter);
}

.row--2 > .col {
	width: 50%;
}

.row--3 > .col {
	width: 33.33%;
}

.row--3 > .col--2 {
	width: 66.66%;
}

.row--4 > .col {
	width: 25%;
}

.row--3-2 > .col--2 {
	/* width: 38.80%; */
	width: 40%;
}

.row--3-2 > .col--3 {
	/* width: 61.20%; */
	width: 60%;
}
