:root {
	--typeface-ar: 'Lateef', cursive;
	--typeface-en: 'FoundersGrotesk', 'Oxygen', Arial, Helvetica, sans-serif;
	--title-size: 24px;
	--small-title-size: 22px;
	--text-size: 16px;
	--small-text-size: 14px;
	--x-small-text-size: 12px;
}
