footer.footer
	.container
		ul.list.list--inline.list--pipe-separator.align-center.txt--capitalize
			li: a.link( href='/ar' ) مركز الصورة المعاصرة
			li: a.link( href='javascript:' ) مواعيد العمل من <strong>١٠ صباحا</strong> الى <strong>٦ مساءا</strong>
			li: a.link( href='javascript:' ) الخاتمة
			li: a.link( href='/policy' ) سياسة الاستخدام و الخصوصية
			li: a.link( href='/contact' ) اتصل بنا
